@import './style.css';

main {
    background-color: #F3F2EF;
}

.main-header-flex, .header-left, .header-logo-container, .search-container, .search-wrapper, 
.header-right, .header-btns, .nav-list, .col-flex, .three-col-flex, .connection-followers-flex,
.post-profile-img, .post-icons, .post-flex-container, .user-info-post, .left-side-post, .right-side-post, .post-actions,
.person-card, .user-card
{
    display: flex;
}

.col-flex, .person-card {
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

.three-col-flex {
    align-items: flex-start;
    padding: 20px 10px;
}

.main-header-flex {
    justify-content: space-between;
}

.header-left {
    gap: 5px;
    align-items: center;
}

.header-logo-container, .nav-item, .col-flex.biz, .col-flex.prem, .search-icon {
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

/**************************************/
/*              Header                */
/**************************************/

.header-bg-container {
    height: 60px; 
    width: 100%;
    background-color: #fff;
    color: #808080;
    border-bottom: 1px solid #dfdfdf;
}

.header-logo-container {
    height: 52px;
    width: 52px;
    justify-content: center;
    place-items: center;
}

.search-container {
    width: 350px;
    height: 60px;
} 

.search-bar {
    background-color: #fff;
    border: 1px solid #808080;
    border-radius: 50px;
    width: 100%;
    padding: 8px 12px 8px 30px;
}

.search-wrapper {
    position: relative;
    justify-content: center;
    place-items: center;
    width: 350px;
    height: 60px;
}

.search-icon {
    position: absolute;
    top: 5px;
    left: 10px;
    transform: translateY(-5px);
    font-size: 32px;
    color: #4b4b4b;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    justify-content: center;
    place-items: center;
    gap: 10px;
}

.nav-item:hover, .col-flex.biz:hover, .col-flex.prem:hover {
    color: black;
}

.nav-item i, .col-flex.biz i, .col-flex.prem i {
    font-size: 24px;
}

.nav-item p, .col-flex.biz p, .col-flex.prem p {
    font-size: 14px;
    font-weight: 400;
}

.nav-item img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.divider {
    width: 1px;
    background-color: #dfdfdf;
    margin: 0 20px 0 20px;
}

.col-flex.biz {
    padding-right: 10px;
}

.col-flex.prem i, .premium i{
    color: gold;
}

/**************************************/
/*               Main                 */
/**************************************/
/**************************************/
/*               Left                 */
/**************************************/

.col-flex.main-left {
    width: 25%;
    gap: 20px;
}

.profile-info-bg, .connection-followers-flex, .links, .premium, .pdf {
    width: 90%;
    text-align: center;
}

.profile-info-bg, .connections-followers, .links, .premium, .pdf { 
    background-color: #fff;
    border: solid 1px #dfdfdf;
    border-radius: 5px;
}

.profile-info-bg {
    position: relative;
}

.profile-banner {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 75px;
    width: 100%;
}

.profile-image {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #fff;
    top: 108px;
    left: 50%;
    transform: translate(-50%, -65px);
}

.fullname {
    padding-top: 30px;
}

.location {
    color: #808080;
    font-size: 12px;
}

.bio {
    font-size: 12px;
    padding-bottom: 10px;
}

.connection-followers-flex {
    gap: 4px;
}

.connections-followers {
    width: 50%;
    padding: 10px;
}

.fol-con {
    font-size: 12px;
    font-weight: 500;
    color: #808080;
}

.user-stats {
    font-size: 18px;
    font-weight: 500;
}

.links p {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 5px;
    cursor: pointer;
}

.premium p {
    font-size: 12px;
    color: #808080;
    padding: 5px 5px;    
}

.premium i {
    font-size: 18px;
    cursor: pointer;
}

.pdf {
    padding: 10px 0;
    cursor: pointer;
}

.pdf:hover {
    background-color: #dfdfdf;
}

/**************************************/
/*              Middle                */
/**************************************/

.col-flex.main-middle {
    gap: 20px;
    width: 50%;
}

.post-profile-img {
    gap: 10px;
}

.make-post-container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 90%;
}

.post-form, .post-container, h3, .user-card {
    background-color: #fff;
    border: solid 1px #dfdfdf;
    border-radius: 5px;
    padding: 10px;
}

.post-profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#new-post {
    width: 100%;
    background-color: #fff;
    border: solid 1px #4b4b4b;
    border-radius: 50px;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    padding-left: 10px;
    color: #4b4b4b;
}

.post-icons {
    justify-content: space-around;
    align-items: center;
    line-height: 50px;
    padding-top: 20px;
}

.post-icons-text {
    color: #4b4b4b;
    font-weight: 500;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 5px;
}

#video {
    color: hsl(84, 100%, 44%);
    font-size: 24px;
}

#photo {
    color: blue;
    font-size: 24px;
}

#article {
    color: orange;
    font-size: 24px;
}

.post-icons-text:hover {
    background-color: #dfdfdf;
}

.post-flex-container {
    padding-top: 20px;
    flex-direction: column;
    gap: 20px;
}

.post-pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-text {
    color: #000;
    font-size: 18px;
}

.photo-name {
    color: #000000;
}

.user-info-post {
    justify-content: space-between;
}

.left-side-post {
    gap: 10px;
}

.left-side-post img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.post-name, .elipse {
    font-weight: 500;
}

.job-title, .date-and-time {
    font-size: 12px;
    color: #808080;
}

.elipse {
    font-size: 20px;
}

.post-content {
    padding: 20px 0;
}

.post-actions {
    place-items: center;
    gap: 20px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.fa-heart:hover, .fa-comment:hover, .fa-share-from-square:hover {
    transform: scale(1.1);
}

.post-content img {
    margin-top: 10px;
    border-radius: 5px;
}

/**************************************/
/*              Right                 */
/**************************************/

h3 {
    padding: 10px 15px;
}

.col-flex.main-right {
    width: 25%;
    gap: 20px;
}

.person-card {
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.user-card {
    width: 100%;
    justify-content: space-between;
    place-items: center;
}

.users-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.users-name {
    font-weight: 600;
    font-size: 14px;
}

.users-city {
    color: #808080;
    font-size: 12px;
}

.flex-col.users-info {
    justify-content: center;
    place-items: center;
}

#plus {
    background-color: #57afdf;
    width: 30px;
    height: 30px;
    color: #2564a4;
    font-size: 14px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    transition: all 0.25 ease-in-out;
    cursor: pointer;
}

#plus:hover {
    background-color: #6abfed;
}