@import './style.css';

* {
  color: #0077B5;
}

body {
  background-color: #e9e9e9;
}

.header-left {
  position: relative;
  background: url(../media/login-banner.png) center / cover no-repeat;
  height: 100svh;
  width: 100%;
}

.header-text {
  position: absolute;
  top: 25%;
  left: 25%;
}

h2 {
  color: white;
  font-size: 65px;
  text-shadow: 2px 4px #666;
}

#link-logo {
  vertical-align: middle;
  width: 70px;
  display: inline-block;
}

.header-container {
  width: 40%;
  height: 100svh;

}

.index-container {
  display: flex;
}

.main-container {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 20px;
  width: 60%;
  height: 100svh;
}

.welcome-sign, .input-box, .forgopass, .buttons, .warning {
  left: 33%;
}

.welcome-sign {
  position: absolute;
  top: 20%;
  font-size: 36px;
}

.warning {
  position: absolute;
  top: 32%;
}

.wrong-info {
  color: red;
  font-weight: 600;
}

.input-box {
  display: grid;
  position: absolute;
  top: 35%;
}

#username, #password {
  background-color: #4a7ec24a;
  color: #0077B5;
  width: 320px;
  padding: 10px;
  margin-top: 10px;
}

#username:focus, #password:focus {
  transform: scale(1.02);
  background-color: #94b2dbd1;
  box-shadow: 2px 2px #00000023;
}

.forgopass {
  position: absolute;
  top: 50%;
  width: 200px;
}

.forgopass:hover {
  transform: scale(1.02);
 cursor: pointer;
}



.buttons {
  display: flex;
  position: absolute;
  top: 60%;
  width: 200px;
}

.login {
  padding: 10px;
  font-weight: 600;
  width: 100px;
  background-color: #0077B5;
  border: 1px solid #fff;
  color: white;
  margin-right: 40px;
}

.signup {
  padding: 10px;
  font-weight: 600;
  width: 100px;
  background-color: #fff;
  border: 1px solid #0077B5;
  color: #0077B5;
}


footer {
  width: 60%;
  margin-left: auto;
  padding: 10px 40px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.policy {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 6px;
  font-size: 14px;
}

.policy p {
  cursor: pointer;
}

.watermark {
  text-align: right;
}

/* dialog */

dialog {
  position: fixed;
  top: 30%;
  left: 42%;
  border: none;
  box-shadow: 2px 1px #666;
}

dialog::backdrop {
  animation: none !important;
}

.reg-dialog {
  width: 220px;
  padding: 20px;
  border-radius: 10px;
}

.reg-dialog input{
  border: 1px solid #666;
  background-color: #00000023;
}

.close {
  text-align: right;
  cursor: pointer;
}

.submit {
  padding: 5px 10px;
  margin-top: 5px;
  color: white;
  background-color: #0077B5;
}

/* animation */

.flyingdata {
  animation: flyingdata 1s ease-in forwards;
}

@keyframes flyingdata {
  0% {
    left: 42%;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}

.switchbackground {
  background: url(../media/login-banner2.png) center / cover no-repeat;
  animation: switchbackground 1s forwards;
}

@keyframes switchbackground {
  0% {
    opacity: 1;
    transform: translateX(900px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}