@import './style.css';

.header-left {
  position: relative;
  background: url(../media/login-banner.png) center / cover no-repeat;
  height: 100svh;
  width: 100%;
}

.header-text {
  position: absolute;
  top: 25%;
  left: 25%;
}

h1 {
  color: white;
  font-size: 65px;
  text-shadow: 2px 4px #666;
}

#link-logo {
  vertical-align: middle;
  width: 70px;
  display: inline-block;
}

.header-container {
  width: 40%;
  height: 100svh;

}