@import './style.css';

* {
  color: #0077B5;
}

body {
  background-color: #e9e9e9;
}

.header-left {
  position: absolute;
  background: url(../media/login-banner.png) center / cover no-repeat;
  height: 100svh;
  width: 100%;
  transition: opacity 1s ease;
}

.header-right {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../media/login-banner2.png) center / cover no-repeat;
  height: 100svh;
  width: 100%;
  transition: opacity 1s ease;
}

.header-text {
  position: absolute;
  top: 25%;
  left: 25%;
}

.header-text-right {
  position: absolute;
  top: 25%;
  right: 25%;

}

.moveright {
  position: fixed;
  top: 0;
  right: 0;
  background: url(../media/login-banner2.png) center / cover no-repeat;
  height: 100svh;
  width: 40%;
  transition: opacity 1s ease;
}

.moveleft {
  transform: translateX(-90%);
}

h2 {
  color: white;
  font-size: 65px;
  text-shadow: 2px 4px #666;
}

#link-logo {
  vertical-align: middle;
  width: 70px;
  display: inline-block;
}

.header-container {
  position: relative;
  width: 40%;
  height: 100svh;
}

.index-container {
  display: flex;
}

.main-container {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 20px;
  width: 60%;
  height: 100svh;
  transition: opacity 1s ease;
}

.welcome-sign, .input-box, .forgopass, .buttons, .warning {
  left: 33%;
}

.welcome-sign, .reg-sign {
  position: absolute;
  top: 20%;
  font-size: 36px;
}

.warning, .reg-greeting {
  position: absolute;
  top: 32%;
}

.wrong-info {
  color: red;
  font-weight: 600;
}

.input-box, .reg-input-box{
  display: grid;
  position: absolute;
  top: 35%;
}

#username, #password, .reg-user, .reg-pass{
  background-color: #4a7ec24a;
  color: #0077B5;
  width: 320px;
  padding: 10px;
  margin-top: 10px;
}


#username:focus, #password:focus, .reg-user:focus, .reg-pass:focus {
  transform: scale(1.02);
  background-color: #94b2dbd1;
  box-shadow: 2px 2px #00000023;
}

.forgopass {
  position: absolute;
  top: 50%;
  width: 200px;
}

.forgopass:hover {
  transform: scale(1.02);
 cursor: pointer;
}



.buttons {
  display: flex;
  position: absolute;
  left: 33%;
  top: 60%;
}

.reg-button {
  display: flex;
  position: absolute;
  left: 51%;
  top: 60%;
}

.login, .signup {
  padding: 10px;
  font-weight: 600;
  width: 120px; 
  text-align: center;
}

.login {
  background-color: #0077B5;
  border: 1px solid #fff;
  color: white;
  margin-right: 40px;
}

.submit {
  background-color: #0077B5;
  border: 1px solid #fff;
  color: white;
  margin-right: 40px;
}

.signup, .backtologin {
  background-color: #fff;
  border: 1px solid #0077B5;
  color: #0077B5;
}

.submit, .backtologin {
  padding: 10px;
  font-weight: 600;
  width: 120px;
  text-align: center;
}

footer {
  width: 60%;
  margin-left: auto;
  padding: 10px 40px;
  position: absolute;
  bottom: 0;
}

.rightiszero {
  right: 0;
}

.policy {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 6px;
  font-size: 14px;
}

.policy p {
  cursor: pointer;
}

.textalignleft {
  text-align: left;
}

.textalignright {
  text-align: right;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

/* animation */

/* .flyingdata {
  animation: flyingdata 1s ease-in forwards;
}

@keyframes flyingdata {
  0% {
    left: 42%;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
} */

/* .switchbackground {
  background: url(../media/login-banner2.png) center / cover no-repeat;
  animation: switchbackground 1s forwards;
}

@keyframes switchbackground {
  0% {
    opacity: 1;
    transform: translateX(900px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.flyright {
  animation: flyright 1s forwards;
}

@keyframes flyright {
  0% {
    transform: translateX(80%);
  }
}

.flyleft {
  animation: flyleft 1s forwards;
}

@keyframes flyleft {
  0% {
    transform: translateX(-80%);
  }
}

.regfly {
  animation: regfly 1s forwards;
}

@keyframes regfly {
  0% {
    transform: translateX(-180%);
  }
  100% {
    transform: translateX(-80%);
  }
}
